.navigation_active::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 3;
    bottom: -100%;
    opacity: 0.3;
}

.navigation_menu {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    max-width: 375px;
    border-radius: 10px 10px 0 0;
    width: 100%;
    padding: 15px 7px 30px;
    background-color: #fff;
    z-index: 5;
    bottom: -100%;
    transition: all .5s ease 0s;
}
.navigation_menu_active {
    bottom: 0;
}
.navigation_menu-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.navigation_menu-list-item:last-of-type{
    margin-bottom: 40px;
}
.navigation_menu-icon-item {
    width: 16px;
    height: 16px;
    margin-right: 15px;
}
.navigation_menu-link-item {
    position: relative;
    width: 100%;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    line-height: 16px;
}
.navigation_menu-link-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: rgba(190, 190, 190, 0.5);
    width: 100%;
    height: 1px;
    margin-bottom: -10px;
}

.navigation_button  {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    border-radius: 5px;
    border: 1px solid rgba(190, 190, 190, 0.5);
    width: 100%;
    padding: 5px;

}