.header {
    background: #fff;
    position: fixed;
    z-index: 2;
    width: 375px;
   border-bottom: 1px solid rgba(190, 190, 190, 0.5);
}

.header_id-profile {
    font-size: 20px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
}
.header_content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.header_button {
    width: 24px;
    height: 24px;
}
.header_button-add-card {
    background:  no-repeat  center/ 24px  url('../../images/icon/icon-plus.svg');
    margin-right: 10px;
}
.header_button-menu {
    background: no-repeat center/24px  url('../../images/icon/icon-menu.svg');
}
.header_publications-id-profile,
.header_subscribers-id-profile {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(93, 93, 93, 0.7);
    margin-bottom: 2px;
    text-align: center;
}
.header_publications-title,
.header_subscribers-title{
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}
.header_publications-button,
.header_subscribers-button {
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: translate(0, -50%);
    background: no-repeat center/20px url("../../images/icon/icon-left-arrow.svg");
}
.header_publications-wrapper {
    padding: 10px;
}